<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/list"></ion-back-button>
    </ion-buttons>
    <ion-title>Update Weapon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="updateForm" (ngSubmit)="onFormSubmit()">
    <ion-item>
      <ion-label position="floating">Material</ion-label>
      <ion-input formControlName="material" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Type</ion-label>
      <ion-input formControlName="type" type="text" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Might</ion-label>
      <ion-input formControlName="might" type="number" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Range</ion-label>
      <ion-input formControlName="weaponRange" type="number" required>
      </ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" shape="full" expand="block">Update Weapon</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>